<%= if(@live_action == :taxonomy_tree) do %>
  <h1>Taxonomy Tree</h1>
  <%= raw taxonomy_tree_list(@taxonomy_tree) %>
<% end %>

<%= if(@live_action == :content_tree) do %>
  <h1>Content Tree</h1>
  <%= raw taxonomy_tree_list(@content_tree) %>
<% end %>

<%= if(@live_action == :index) do %>
  <h1>Latest Updates</h1>
  <%= for post <- @posts do %>
    <.card content={post} col_class="col"/>
  <% end %>
<% end %>