<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>    
  </head>
  <body>
    <a name="top"></a>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
          <%= live_redirect Application.get_env(:pardall_markdown_phoenix_demo, PardallMarkdown.Content)[:site_name],
              to: "/", class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= live_redirect "Home", to: "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= live_redirect "Docs", to: "/documentation", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= live_redirect "Blog", to: "/blog", class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= @inner_content %>

    <div class="container py-4">
      <div class="d-flex justify-content-between">
        <a class="p-2" href="#top">Back to top of page</a>
        <nav class="d-flex justify-content-center">
          <%= live_redirect "Categories", to: "/taxonomy-tree", class: "p-2 link-secondary" %>
          <%= live_redirect "Sitemap", to: "/content-tree", class: "p-2 link-secondary" %>
        </nav>
      </div>
    </div>
  </body>
</html>
